target/classes/csvreader.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <file:file-to-string-transformer name="CSV_to_String" doc:name="File to String"/>
    <flow name="csvreaderFlow1">
        <file:inbound-endpoint path="C:\Users\General\workspace\AnypointStudio\csvreader\input" responseTimeout="10000" doc:name="Input CSV File"/>
        <dw:transform-message metadata:id="f726f92a-b392-4228-92a2-54afd8245993" doc:name="Transform Message">
            <dw:input-payload mimeType="application/csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	firstName: payload01.Name,
	lastName: payload01."Last Name",
	street1: payload01."Street 1",
	street2: payload01."Street 2",
	zip1: payload01."ZipCode 1",
	zip2: payload01."ZipCode 2"
} as :object {
	class : "csvreader.CSVForm"
})]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[message.payload]" level="INFO" metadata:id="6e997369-6ba2-4dd1-bec2-8f51b34c407a" doc:name="Logger"/>
    </flow>
</mule>
